Learning/numpy.ipynb
Learning/10.1-numpy.ipynb
Learning/10.2-pandas.ipynb
Learning/10.3-datamanipulation.ipynb
Learning/sales_data.csv
Learning/data.csv
Learning/10.4-readdata.ipynb
Learning/10.5-matplotlib.ipynb